<p id="notice"><%= notice %></p>

<h1>Toys</h1>

<div class="row">
  <% @toys.each do |toy| %>
  <div class="col-3">
    <%= image_tag 'toystore_front.jpg', class: 'img-fluid thumbnail' %>
    <h2><%= toy.name %></h2>
    <p>$<%= toy.price/100 %></p>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Toy', new_toy_path %>
